[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crewai = "*"
serpapi = "*"
google-search-results = "*"
scikit-learn = "*"
docx = "*"
requests = "*"
python-docx = "*"
pdfplumber = "*"
langchain = "*"
openai = "*"
groq = "*"
langchain-community = "*"
langchain-groq = "*"
sentence-transformers = "*"
frontend = "*"
python-dotenv = "*"
pyqt5 = "*"
pymupdf = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
